body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.wrapper {
    text-align: center;
}
  
.countdown {
    margin-top: 50px;
}
  
#timer {
    font-size: 36px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .wrapper {
      width: 90%;
      margin: 0 auto;
    }
  
    .countdown {
      /* Adjust styles for smaller screens */
      /* Example: Increase font size */
      font-size: 15px;
    }

    #timer {
        font-size: 36px;
        font-weight: bold;
    }
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
  }
  
  /* Style for the .ics button */
  #icsButton {
    background-color: #4CAF50; /* Green */
  }
  
  /* Style for the Google Calendar button */
  #googleCalendarButton {
    background-color: #4285F4; /* Google Blue */
  }
  