body {
    font-family: 'Inter', sans-serif;
}

.displayedPrice {
    padding-top: 20px;
    padding-left: 0;
    font-weight: 700;
    font-size: 28px;
}

.totalPrice {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 17px;
}

h1 {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 24px;
    margin: 0;
}

.item-count {
    padding-left: 40px;
    font-size: 17px;
    color: rgb(88, 88, 88);
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0;
}

.separator {
    border: 0;
    border-top: 3px solid black;
    margin: 10px 0;
}

.cart-items {
    margin: 20px;
}

.cart-item {
    position: relative;
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.253); 
}

h2 {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin: 0;
}

p {
    margin: 0;
    padding-left: 20px;
}

.item-count-text {
    margin-left: 10px; /* Add spacing between item name and count */
}

.add-button {
    align-self: flex-end;
    position: absolute;
    bottom: -30px;
    right: -30px;
    background-color: #41658a;
    color: white;
    border: none;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-size: 30px;
}

.cart-info {
    flex-grow: 1;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 18px;
    left: 13px;
    font-size: 35px;
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}

.remove-button {
    position: absolute;
    top: -7px;
    right: -100px; /* Initially position it outside the cart item */
    background-color: #41658a; /* Adjust styling as needed */
    color: white; /* Adjust styling as needed */
    border: none;
    border-radius: 20px;
    width: 60px; /* Adjust width as needed */
    height: 150%; /* Make it stretch the full height of the cart item */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
}

.remove-button img {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    color: white;
}

.fixed-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 230px; */
    background-color: #41658a;
    color: white; 
    text-align: center; 
    z-index: 999;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.place-order {
    margin: auto;
    display: block;
    width: calc(100% - 20px); 
    height: 40px; 
    background-color: #41658a;
    color: white;
    border: 2px solid white; 
    border-radius: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.clear-cart {
    margin: auto;
    display: block;
    width: calc(100% - 20px); 
    height: 40px; 
    background-color: white;
    color: #41658a;
    font-weight: bold;
    font-size: 15px;
    border: none; 
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-first-item {
    width: 100%;
    height: 48px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.253); 
}

.add-first-item-text {
    font-weight: 700;
    font-size: 15px;
}