body {
    font-family: Arial, sans-serif;
}

h1 {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
    margin: 0;
}

.item-count {
    padding-left: 40px;
    font-size: 17px;
    padding-bottom: 10px;
    margin: 0;
}

.separator {
    border: 0; /* Remove default border */
    border-top: 3px solid black; /* Set custom border style */
    margin: 10px 0; /* Adjust margin as needed */
}

.back-arrow {
    position: absolute;
    top: 23px;
    left: 13px;
    font-size: 35px;
    color: black;
    text-decoration: none;
}

.pantry-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
}

.fruitAndVegetable-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
}

.dairy-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
}

.meat-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    background-color: #41658a;
    border: none;
    border-radius: 20px;
    position: relative;
}

.product img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 20px 0 0 20px;
}

.product-info {
    flex-grow: 1;
}

.product h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
}

.product p {
    margin: 0;
    color: white;
}

.add-button {
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: #2a4866;
    color: white;
    border: none;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #41658a;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.popup.show {
    opacity: 1;
    pointer-events: auto;
}

.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #41658a;
    color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 9999;
    display: none;
    font-weight: 500;
}
