body {
    font-family: Arial, sans-serif;
}

.shopping-cart-icon {
    position: absolute;
    top: 28px;
    right: 30px;
}

.shopping-cart-icon img {
    width: 27px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.mealkit {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    background-color: #41658a;
    border: none;
    border-radius: 20px;
    position: relative; /* Added */
    padding-bottom: 10px;
    padding-top: 10px;
}

.mealkit img {
    max-width: 150px;
    /* max-height: 100%; */
    width: auto;
    height: auto; 
    margin-right: 20px;
    border-radius: 20px 0 0 20px;
}

.mealkit h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
}

.mealkit p {
    margin: 0;
    color: white;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    background-color: #41658a;
    border: none;
    border-radius: 20px;
    position: relative; /* Added */
}

.product img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 20px 0 0 20px;
}

.product-info {
    flex-grow: 1;
}

.product h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
}

.product p {
    margin: 0;
    color: white;
}

.add-button {
    position: absolute;
    bottom: -15px; /* Adjusted */
    right: -15px; /* Adjusted */
    background-color: #2a4866;
    color: white;
    border: none;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #41658a;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.popup.show {
    opacity: 1;
    pointer-events: auto;
}

h1 {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 24px;
    margin: 0;
}

.results-count {
    padding-left: 40px;
    font-size: 17px;
    padding-bottom: 10px;
    margin: 0;
}

.separator {
    border: 0; /* Remove default border */
    border-top: 3px solid black; /* Set custom border style */
    margin: 10px 0; /* Adjust margin as needed */
}

.back-arrow {
    position: absolute;
    top: 23px;
    left: 13px;
    font-size: 35px;
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}


.see-inside-button {
    display: block;
    width: calc(100% - 15px);
    padding: 7px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.details-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.details-popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Max width of the popup */
    border-radius: 20px;
    text-align: center; /* Center text */
    position: relative; /* For positioning the close button */
}

.details-popup h3.includes-heading,
.details-popup p,
.details-popup ul {
    text-align: left;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.description {
    display: none;
}

.noSale-price {
    color: white;
    font-weight: 550;
    font-size: 20px;
}

.price {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 550;
}

.original-price {
    position: relative;
    color: white;
    font-weight: normal;
    margin-right: 10px;
}

.original-price::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px; /* Adjust the height of the line as needed */
    background-color: red; /* Set the color of the line to red */
    transform: rotate(-20deg);
    transform-origin: center;
}

.sale-price {
    font-weight: 550;
    font-size: 20px;
    color: white;
}