body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .browse-header {
    padding: 30px;
    /* text-align: center; */
  }
  
  .browse-header h2 {
    font-weight: bold;
    font-size: 24px; 
  }

  h2 {
    margin: 0;
  }
  
  .search-container {
    position: relative;
    padding: 0px 30px 30px 20px;
    /* display: flex; */
    justify-content: center;
}

.search-icon {
    position: absolute;
    left: 32px;
    top: 32%;
    transform: translateY(-50%);
}

.search-icon img {
    width: 20px;
}

.shopping-cart-icon {
    position: absolute;
    top: 30px;
    right: 30px;
}

.shopping-cart-icon img {
    width: 27px;
}

input[type="text"] {
    padding: 10px 10px 10px 40px;
    width: calc(100% - 40px); /* Adjust width to accommodate icon */
    height: 20px;
    border: 2px solid black;
    border-radius: 25px;
}
  
  .food-groups {
    padding: 10px; /* Match padding with search container */
    padding-top: 0;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    justify-content: center;
  }
  
  .food-group {
    width: calc(50% - 40px); /* Calculate 50% width with reduced padding */
    max-width: 150px; /* Set a maximum width for larger screens */
    height: calc(50% - 40px); /* Reduced height for smaller food groups */
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Slightly smaller font size */
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px; /* Add some margin between food groups */
    aspect-ratio: 1 / 1;
  }
  
  .dairy {
    background-color: #41658a; /* Example color for dairy */
    color: white;
  }
  
  .meat {
    background-color: #41658a; /* Example color for meat */
    color: white;
  }
  
  .fruits-vegetables {
    background-color: #41658a; /* Example color for fruits & vegetables */
    color: white;
  }
  
  .pantry {
    background-color: #41658a; /* Example color for pantry */
    color: white;
  }
